---
import BaseHead from "@components/BaseHead";
import Footer from "@components/Footer";
import FormattedDate from "@components/FormattedDate";
import Navbar from "@components/Navbar";
import ThemeChange from "@components/ThemeChange";
import TweetButton from "@components/TweetButton";
import type { CollectionEntry } from "astro:content";

type Props = { blogData: CollectionEntry<"blog">["data"]; ogImage: string };

const { blogData, ogImage } = Astro.props;
const url = new URL(Astro.url);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={blogData.title}
      description={blogData.description}
      image={blogData.heroImage ?? ogImage}
    />
  </head>
  <body class="flex flex-col items-center h-screen">
    <div class="w-full max-w-3xl flex-grow">
      <Navbar>
        <ThemeChange />
      </Navbar>
      <div class="p-4 pt-6 pb-2">
        <div class="prose lg:prose-lg">
          <article>
            {
              blogData.heroImage && (
                <img width={720} height={360} src={blogData.heroImage} alt="" />
              )
            }
            <h1 class="title">{blogData.title}</h1>
            <FormattedDate date={blogData.pubDate} />

            {
              blogData.updatedDate && (
                <div class="last-updated-on">
                  Last updated on <FormattedDate date={blogData.updatedDate} />
                </div>
              )
            }
            <hr />
            <slot />
          </article>
        </div>
      </div>
    </div>
    <div class="pb-10"><TweetButton title={blogData.title} url={url} /></div>
    <Footer />
  </body>
</html>
